/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.nav-content {
  background-color: white;
  border: 1px solid #d5d7db;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.navigation-bar {
  display: flex;
  background-color: white;
  margin: 10px 2%;
}
.nav-logo {
  border: 1px solid white;
}
.logo {
  color: #406098;
  font-family: 'IM Fell English', serif;
  font-size: 3vw;
  font-style: italic;
  padding-left: 20px;
}
@media (max-width: 1000px) {
  .logo {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .logo {
    font-size: 28px;
  }
}
span {
  font-size: 6vw;
  font-weight: bold;
}
.nav-menu {
  font-family: 'IM Fell English', serif;
  position: absolute;
  width: 40%;
  top: 8px;
  right: 16px;
  padding-top: 3.5%;
  padding-bottom: 1%;
  text-align: right;
}
.navMenu {
  font-size: 24px;
  text-align: center;
  margin-right: 5%;
  color: #406098;
}
@media (max-width: 500px) {
  .navMenu {
    font-size: 20px;
  }
}
.navMenu:hover {
  color: white;
  background-color: #406098;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
@media (max-width: 1000px) {
  .link {
    display: none;
  }
}
.signUp-area {
  position: relative;
  text-align: center;
  color: white;
  background-color: #e5e7ec;
  padding-bottom: 70%;
  border: 1px solid #a6a7a7;
  border-radius: 40px;
}
@media (min-width: 1000px) and (max-width: 1500px) {
  .signUp-area {
    padding-bottom: 80%;
  }
}
@media (min-width: 800px) and (max-width: 999px) {
  .signUp-area {
    padding-bottom: 95%;
  }
}
@media (max-width: 500px) {
  .signUp-area {
    padding-bottom: 20%;
  }
}
.bg-image {
  width: 100%;
  height: auto;
  margin-bottom: 10em;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.phrase-button {
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0A3055;
  background-color: rgba(221, 223, 224, 0.7);
  line-height: 2;
  margin: 5% 0;
  padding: 2%;
  border: 1px solid #10103f;
  border-radius: 20px;
}
@media (min-width: 1000px) and (max-width: 1500px) {
  .phrase-button {
    top: 12.5%;
  }
}
@media (min-width: 800px) and (max-width: 999px) {
  .phrase-button {
    top: 16%;
  }
}
@media (max-width: 500px) {
  .phrase-button {
    top: 76%;
    width: 95%;
    border: none;
  }
}
.phrase-button:hover {
  background-color: white;
}
.top-phrase {
  font-size: 24px;
  font-weight: 550;
}
.bottom-phrase {
  font-size: 30px;
  font-weight: 550;
}
@media (max-width: 500px) {
  .bottom-phrase {
    font-size: 24px;
  }
}
.button {
  font-size: 20px;
  background-color: transparent;
  width: 200px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #17234b;
}
.button:hover {
  background-color: red;
}
#button-txt {
  font-weight: bold;
  color: #333232;
}
.restaurant-imgs {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 90%;
  padding: 50px 30px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10%;
}
@media (min-width: 1000px) and (max-width: 1500px) {
  .restaurant-imgs {
    top: 60%;
  }
}
@media (min-width: 800px) and (max-width: 999px) {
  .restaurant-imgs {
    top: 59%;
  }
}
@media (max-width: 500px) {
  .restaurant-imgs {
    display: none;
  }
}
.top-row {
  display: flex;
}
.rest-content {
  width: 100%;
  font-size: 2.25vw;
  text-align: center;
}
.rest-imgs {
  width: 90%;
  height: 80%;
  background-color: #cca066;
  opacity: 90%;
  border-radius: 90%;
  margin: 5px;
}
.rest-imgs:hover {
  color: #cca066;
}
.img-text {
  font-family: 'IM Fell English', serif;
  color: #0A3055;
}
.middle-row {
  display: flex;
}
.new-phrase {
  font-family: 'IM Fell English', serif;
  font-size: 3.5vw;
  color: #406098;
  border-top: 1.5px solid black;
  padding: 20px;
}
.new {
  margin-top: 10px;
}
.bottom-row {
  display: flex;
}
.row-img {
  margin-top: 30px;
  margin-bottom: 70px;
}
.about {
  background-color: #e5e7ec;
  text-align: center;
}
.about-imgs {
  padding: 5%;
}
.about-top-row {
  display: flex;
  width: 100%;
}
.about-content {
  font-family: 'IM Fell English', serif;
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin: 7%;
}
.about-images {
  width: 55%;
  height: 70%;
  border-radius: 45%;
}
.img-txt {
  line-height: 1.5;
  margin: 4%;
}
.about-middle-row {
  display: flex;
  width: 100%;
}
.about-bottom-row {
  display: flex;
  width: 100%;
}
.TL-content {
  font-family: 'IM Fell English', serif;
  font-size: 20px;
  line-height: 1;
}
.TL-image {
  width: 20%;
  height: 20%;
  border-radius: 45%;
}
.container {
  position: relative;
}
.footer {
  position: absolute;
  top: 50%;
  left: 50%;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #0A3055;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 1% 20%;
}
@media (max-width: 500px) {
  .footer-top {
    flex-direction: column;
    text-align: center;
  }
}
.footer-logo {
  color: white;
  font-family: 'IM Fell English', serif;
  font-size: 5vw;
  font-style: italic;
  line-height: 2;
}
@media (max-width: 500px) {
  .footer-logo {
    font-size: 40px;
  }
}
.footer-menu {
  display: flex;
  flex-direction: column;
  line-height: 2;
}
@media (max-width: 500px) {
  .footer-menu {
    padding: 3%;
  }
}
.footMenu {
  color: white;
}
.footer-bottom {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #0A3055;
}
@media (max-width: 500px) {
  .footer-bottom {
    flex-direction: column-reverse;
    text-align: center;
  }
}
.copyright {
  margin: 0 5%;
  padding-top: 3%;
}
@media (max-width: 500px) {
  .copyright {
    padding: 3%;
  }
}
.icons {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  padding-left: 3%;
}
@media (max-width: 500px) {
  .icons {
    justify-content: space-around;
  }
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
/* Facebook */
.fa-facebook {
  color: white;
}
/* Twitter */
.fa-twitter {
  color: white;
}
.fa-instagram {
  color: white;
}
