/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  background-color: #e5e7ec;
  border: 1px solid red;
}
.nav-content {
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px solid red;
}
.navigation-bar {
  display: flex;
  background-color: white;
  margin: 10px 2%;
  border: 1px solid red;
}
.nav-logo {
  border: 1px solid red;
}
.logo {
  color: #406098;
  font-family: 'IM Fell English', serif;
  font-size: 4vw;
  font-style: italic;
  padding-left: 5px;
  border: 1px solid red;
}
span {
  font-size: 6vw;
  font-weight: bold;
}
.nav-menu {
  font-family: 'IM Fell English', serif;
  position: absolute;
  width: 27%;
  top: 8px;
  right: 16px;
  padding-top: 3.5%;
  padding-bottom: 1%;
  text-align: right;
  border: 1px solid red;
}
.navMenu {
  font-size: 24px;
  text-align: center;
  margin-right: 20%;
  padding: 0 2%;
  color: #406098;
  border: 1px solid red;
}
.navMenu:hover {
  color: white;
  background-color: #0A3055;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.signUp-area {
  position: relative;
  text-align: center;
  color: white;
  background-color: #e5e7ec;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid red;
}
.bg-image {
  width: 100%;
  height: auto;
  margin-bottom: 10em;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 1px solid red;
}
.phrase-button {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0A3055;
  background-color: rgba(221, 223, 224, 0.7);
  line-height: 2;
  margin: 5% 0;
  padding: 2%;
  border: 1px solid #10103f;
  border-radius: 20px;
}
.phrase-button:hover {
  background-color: white;
}
.top-phrase {
  font-size: 24px;
  font-weight: 550;
}
.bottom-phrase {
  font-size: 30px;
  font-weight: 550;
}
.button {
  font-size: 20px;
  background-color: transparent;
  width: 200px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #17234b;
}
.button:hover {
  background-color: red;
}
#button-txt {
  font-weight: bold;
  color: #333232;
}
.restaurant-imgs {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 85%;
  padding: 20px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 2%;
  border: 1px solid red;
}
.top-row {
  display: flex;
}
.rest-content {
  width: 100%;
  font-size: 2.25vw;
  text-align: center;
  border: 1px solid red;
}
.rest-imgs {
  width: 90%;
  border-radius: 90%;
  margin: 5px;
  border: 1px solid red;
}
.middle-row {
  display: flex;
}
.new-phrase {
  font-family: 'IM Fell English', serif;
  font-size: 3.5vw;
  color: #406098;
  border-top: 1.5px solid black;
  padding: 20px;
}
.new {
  margin-top: 10px;
}
.bottom-row {
  display: flex;
}
.row-img {
  margin-top: 30px;
  margin-bottom: 70px;
}
.container {
  position: relative;
}
.footer {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid red;
}
.footer-top {
  display: flex;
  color: white;
  background-color: #0A3055;
  border: 1px solid red;
}
.footer-logo {
  color: white;
  font-family: 'IM Fell English', serif;
  font-size: 4vw;
  font-style: italic;
  border: 1px solid red;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}
.footMenu {
  color: white;
}
.footer-bottom {
  display: flex;
  color: white;
  background-color: #0A3055;
  border: 1px solid red;
}
.copyright {
  border: 1px solid red;
}
.icons {
  display: flex;
  border: 1px solid red;
}
