.about {
   background-color: rgb(229, 231, 236);
   text-align: center;
}

    .team {
        font-family: 'IM Fell English', serif;
        font-size: 30px;
        color: @navy;
        margin: 10%;
        padding-top: 5%;
    } 

    .about-imgs {
        padding: 5%;
    }
        .about-top-row {
            display: flex;
            width: 100%;

            @media (max-width: 500px) {
                flex-direction: column;
            }
        }
    
            .about-content {
                font-family: 'IM Fell English', serif;
                font-size: 20px;
                text-align: center;
                width: 100%;
                margin: 7%;
            }
            
                .about-images {
                    width: 60%;
                    height: 68%;
                    border: 1.5px solid @navy;
                    border-radius: 45%;
                }

                .img-txt {
                    line-height: 1.5;
                    margin: 4%;
                }

        .about-middle-row {
            display: flex;
            width: 100%;
            
            @media (max-width: 500px) {
                flex-direction: column;
            }
        }

        .about-bottom-row {
            display: flex;
            width: 100%;

            @media (max-width: 500px) {
                flex-direction: column;
            }
        }

        
        .TL-content {
            font-family: 'IM Fell English', serif;
            font-size: 20px;
            line-height: 1;
            
        } 
            
            .TL-image {
                width: 20%;
                height: 20%;
                border: 1.5px solid @navy;
                border-radius: 45%;
            }

            
            

        