.about {
   background-color: rgb(229, 231, 236);
   text-align: center;
}

    .team {
        font-family: 'IM Fell English', serif;
        font-size: 35px;
        color: @navy;
        margin: 5% 5% 8% 5%;
        padding-top: 5%;
    } 

    .about-imgs {
        border: @red;
    }
        .about-top-row {
            display: flex;

            @media (max-width: 500px) {
                flex-direction: column;
            }
        }
    
            .about-content {
                width: 100%;
                font-family: 'IM Fell English', serif;
                font-size: 20px;
                text-align: center;
                padding-bottom: 7%;;
            }
            
                .about-images {
                    width: 40%;
                    height: 65%;
                    border: 1.5px solid @navy;
                    border-radius: 45%;
                }

                .img-txt {
                    line-height: 1.5;
                    margin: 4% 4% 0% 4%;
                }

                    .image-txt {
                        margin-bottom: 2%;
                    }

        .about-middle-row {
            display: flex;
            width: 100%;
            
            @media (max-width: 500px) {
                flex-direction: column;
            }
        }

        .about-bottom-row {
            display: flex;
            width: 100%;

            @media (max-width: 500px) {
                flex-direction: column;
            }
        }

        
        .TL-content {
            font-family: 'IM Fell English', serif;
            font-size: 20px;
            line-height: 1;
            padding-bottom: 7%;
            
        } 
            
            .TL-image {
                width: 20%;
                height: 20%;
                border: 1.5px solid @navy;
                border-radius: 45%;
            }

            
            

        