.about {
   background-color: @background-signUp;
   text-align: center;
}

    .team {
        font-family: @font;
        font-size: 35px;
        color: @navy;
        margin: 5% 5% 8% 5%;
        padding-top: 5%;
    } 

    
    .about-top-row {
        display: flex;
        background-color: white;
        border-radius: 20px;
        margin: 5%;
        padding: 7% 5% 5% 5%;

        @media @mobile {
            flex-direction: column;
        }
    }

        .about-content {
            width: 100%;
            font-family: @font;
            font-size: 20px;
            text-align: center;
            padding-bottom: 6%;
        }
        
            .about-images {
                width: 40%;
                height: 65%;
                border: 1.5px solid @navy;
                border-radius: 45%;
            }

            .img-txt {
                line-height: 1.5;
                margin: 4% 4% 0% 4%;
            }

                .image-txt {
                    margin-bottom: 2%;
                }

    .about-middle-row {
        display: flex;
        background-color: white;
        border-radius: 20px;
        margin: 5%;
        padding: 7% 5% 5% 5%;
        
        @media @mobile {
            flex-direction: column;
        }
    }

    .about-bottom-row {
        display: flex;
        background-color: white;
        border-radius: 20px;
        margin: 5%;
        padding: 7% 5% 5% 5%;

        @media @mobile {
            flex-direction: column;
        }
    }

    
    .TL-row {
        background-color: white;
        border-radius: 20px;
        margin: 5%;
        padding: 7% 5% 5% 5%;
    }

        .TL-content {
        font-family: @font;
        font-size: 20px;
        line-height: 1;
        padding-bottom: 7%;
        
        } 
            
            .TL-image {
                width: 20%;
                height: 20%;
                border: 1.5px solid @navy;
                border-radius: 45%;

                @media @mobile {
                    width: 30%;
                    height: 30%;
                }
            }

        
        

        