.container {
    position: relative;
}

    .footer {
        position: absolute;
        top: 50%;
        left: 50%;
    }

        .footer-top {
            display: flex;
            justify-content: space-between;
            color: white;
            background-color: @navy;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            padding: 1% 20%;

            @media @mobile {
                flex-direction: column;
                text-align: center;
            }
        }

            .footer-logo {
                color: white;
                font-family: @font;
                font-size: 5vw;
                font-style: italic;
                line-height: 2;

                @media @mobile {
                    font-size: 40px;
                }
            }

                .ft-logo {
                    color: white;
                }

                    .ft-logo:hover {
                        color: red;
                    }

            .footer-menu {
                display: flex;
                flex-direction: column;
                line-height: 2;

                @media @mobile {
                    padding: 3%;
                }
            }

                .footMenu {
                    color: white;
                }

                .footMenu:hover {
                    color: red;
                }

        .footer-bottom {
            display: flex;
            justify-content: space-around;
            color: white;
            background-color: @navy;

            @media @mobile {
                flex-direction: column-reverse;
                text-align: center;
            }
        }

            .copyright {
                margin: 0 5%;
                padding-top: 3%;

                @media @mobile {
                    padding: 3%;
                }
            }
            
            .icons {
                display: flex;
                justify-content: space-between;
                padding: 2%;
                padding-left: 3%;

                @media @mobile {
                    justify-content: space-around;
                }
            }

                .fa {
                    padding: 10px;
                    font-size: 30px;
                    width: 50px;
                    text-align: center;
                    text-decoration: none;
                }
                
                .fa:hover {
                    opacity: 0.7;
                }
                
                /* Facebook */
                .fa-facebook {
                    color: white;
                }

                    .fa-facebook:hover {
                        color: red;
                    }
                
                /* Twitter */
                .fa-twitter {
                    color: white;
                }

                    .fa-twitter:hover {
                        color: red;
                    }

                .fa-instagram {
                    color: white;
                }

                    .fa-instagram:hover {
                        color: red;
                    }

