.container {
    position: relative;
}

    .footer {
        position: absolute;
        top: 50%;
        left: 50%;
        border: @red;
    }

        .footer-top {
            display: flex;
            color: white;
            background-color: @navy;
            border: @red;
        }

            .footer-logo {
                color: white;
                font-family: 'IM Fell English', serif;
                font-size: 4vw;
                font-style: italic;
                border: @red;
            }

            .footer-menu {
                display: flex;
                flex-direction: column;
                border: @red;
            }

                .footMenu {
                    color: white;
                }

        .footer-bottom {
            display: flex;
            color: white;
            background-color: @navy;
            border: @red;
        }

            .copyright {
                border: @red;
            }
            
            .icons {
                display: flex;
                border: @red;
            }

