.nav-content {
    background-color: white;
    border: 1px solid rgb(213, 215, 219);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

    .navigation-bar {
        display: flex;
        background-color: white;
        margin: 10px 2%;
    }

        .nav-logo {
            border: 1px solid white;
        }

            .logo {
                color: @blue;
                font-family: 'IM Fell English', serif;
                font-size: 3vw;
                font-style: italic;
                padding-left: 20px;

                @media (max-width: 1000px ) {
                    font-size: 30px;
                }

                @media (max-width: 500px ) {
                    font-size: 28px;
                }
            }

                span {
                    font-size: 6vw;
                    font-weight: bold;
                }

    .nav-menu {
        font-family: 'IM Fell English', serif;
        position: absolute;              
        width: 40%;
        top: 8px;
        right: 16px;
        padding-top: 3.5%;
        padding-bottom: 1%;
        text-align: right;

        // @media (max-width: 500px) {
        //     text-align: center;
        // }
    }

        .navMenu {
            font-size: 24px;
            text-align: center;
            margin-right: 5%;
            color: @blue; 

            @media (max-width: 500px) {
                font-size: 20px;
            }
        }

            .navMenu:hover {
                color: white;
                background-color: @blue;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }

            .link {

                @media (max-width: 1000px) {
                    display: none;                
                }  
            }
            