.container {
    width: 100%;
    margin: 0 auto;
    border:  @red;
}

    .navigation {
        width: 100%;
        border:  @red;
    }

        .nav-logo {
            border: @red;
        }

        .logo {
            border: @red;
        }

        .logo-subtext {
            border: @red;
        }

    .signUp-area {
        width: 100%;
        border: @red;
    }

        .bg-image {
            width: 100%;
            opacity: 50%;
            border: @red;
        }

        .phrase-button {
            border: @red;
        }

    .restaurant-imgs {
        border: @red;
    }

    .rest-content {
        width: 20%;
        border: @red;
    }
        .rest-imgs {
            width: 100%;
            border: @red;
        }

    .footer {
        width: 100%;
        border: @red;
    }

        .footer-top {
            border: @red;
        }

            .footer-logo {
                border: @red;
            }

            .footer-menu {
                border: @red;
            }

        .footer-bottom {
            border: @red;
        }

            .copyright {
                border: @red;
            }
            
            .icons {
                border: @red;
            }

